.datatable-container {
  width: 100%;
  overflow: auto;
  min-height: 300px;

  ngx-datatable {
    width: 100%;
    transition: opacity 0.3s ease;

    &.resizing {
      opacity: 0.9;
    }

    ::ng-deep .datatable-body-cell {
      white-space: normal;
      word-break: break-word;
    }

    ::ng-deep .status-active *,
    ::ng-deep .status-inactive * {
      width: fit-content;
      padding: 0.1rem 0.5rem;
      border-radius: 0.8rem;
    }

    ::ng-deep .status-active *{
      background-color: #e0ffe0;
      color: #2e7d32;
    }

    ::ng-deep .status-inactive *{
      background-color: #ffe0e0;
      color: #c62828;
    }
    
  }

}
