@use '../../../../assets/styles/variables' as *;
.sidebar {
  min-width: 250px;
  min-height: 100vh;
  height: 100%;
  background: $dark;
  color: $light;
  transition: width 0.3s;
  .sidenav-section-one{
    border-bottom:.05px solid $secondary-light
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      text-align: center;

      a {
        color: $light;
        text-decoration: none;
        display: block;
      }
    }
  }
}

.collapsed {
  min-width: 60px;
}


