<div class="container-fluid p-4 vh-100 overflow-auto d-flex flex-column">
  <div class="row flex-column flex-grow-1">
    <div class="col-12 bg-semi-dark py-2 px-3 rounded-top-3 border-bottom">
      <app-page-controls
        [route]="route"
        [items]="items"
        [sortKey]="sortKey">
      </app-page-controls>
    </div>

    <!-- Products -->
    <div class="col-12  rounded-bottom-3 p-4 shadow-sm products overflow-auto d-flex flex-column"  [ngClass]="{ 'flex-grow-1': items.length > 0 }">
      <app-no-items
        [header]="header"
        [subTitle]="subTitle"
        [BtnName]="BtnName"
        [route]="route"
        *ngIf="items.length == 0; else ProductTable">
      </app-no-items>

      <ng-template #ProductTable>
        <app-table-data
          class="flex-grow-1"
          [rows]="items"
          [columns]="columns">
        </app-table-data>
      </ng-template>
    </div>
  </div>
</div>
