@use 'variables' as *;

html {
  font-size: 16px;
  body{
  font-family: 'Poppins', sans-serif;
  }
  .bg-light{
    background-color: $light;
  }
  .bg-semi-light{
    background-color: $semi-light;
  }
  .bg-second{
    background-color: $secondary;
  }
  .fs-verySmall{
    font-size:10px !important;
  }
  .bg-dark{
    background-color: $dark !important;
  }
  .bg-semi-dark{
    background-color: $semi-dark;
  }
  .hover-bg:hover {
  background-color: $semi-dark ;
  transition: background-color 0.3s ease;
  }
  .router-link-active{
    background-color:$activeColor;
  }
  .bg-white{
    background-color: white;
  }
  .section-style{
    border:.5px solid $secondary-light;
    background-color: white;
  }
  .summary,.payment{
    input{
      border-radius: 8px;
      width:100%;
      padding:6px;
      border:none;
      background-color: #f0f0f0;
    }
}


}
