
 <div class="container-fluid mb-3 ">
  <div class="row align-items-center gx-2">
    <div class="col-12 col-md-4 col-xxl-3">
            <label [for]="id" class="form-label">{{label}}</label>
    </div>
    <div class="col-12 col-md-8 col-xxl-9">
        <div class="position-relative flex-grow-1">
         <span class="position-absolute input-icon" [class.d-none]="hideIconVar">
           <ng-content #name></ng-content>
          </span>
         <input [type]="type" class="form-control" [id]="id" [placeholder]="placeholder" #inputRef
         (focus)="hideIcon()" (blur)="showIcon()"/>
      </div>
    </div>

  </div>
 </div>
